/*

Thinkfast landing page template stylesheet
Author: iWebStudio

*/

/* ========================== CSS Reset ========================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
/* ========================== General Styles ========================== */
body {
	background: #fff url(../images/patterns/patternbg-2.jpg) repeat;
	font: normal 12px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:1.5em;
}

.wrap {
	margin: 0 auto;
	width: 928px;
}

.footer-widgets {
	margin:0 auto;
	background: #36424e url(../images/patterns/patternbg.png) repeat;
	padding:20px 0 27px 0;
	width: 992px;
	margin-top:35px;
	margin-bottom:10px;
	overflow:hidden;
}

.columns {
    margin-top:10px;

}

.center {
    text-align:center;
	display:block;
	margin:0 auto;
}

a {
	text-decoration: none;
	font-style:none;
	color:#3b454f;
}

a:hover {
	text-decoration: none;
	color:#24282f;
}

p {
    margin-bottom:10px;

}

p, li {
	color: #909090;
	font-size: 14px;
	line-height: 1.5em;
	text-shadow:0 1px 0 #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	line-height:1.5em;
	color: #656565;
	margin-bottom:15px;
}


h1 {
	font-size: 32px;
}


h2 {
	font-size: 28px;
}


h3 {
	font-size: 22px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 17px;
}


h6 {
	font-size: 16px;
}



img.left {
	margin-right: 10px;
}

img.right {

}

ul {
	list-style: none;
}

strong {
	font-weight: bold;
}



.divider {
	background: url(../images/divider.png) repeat-x;
	height: 2px;
    margin:35px 0 35px 0;
}

.left {
    float:left;
}

.right {
    float:right;

}

a.zoom {
    position: relative;
    display: block;
    background: url(../images/icon_zoom.png) center center no-repeat;
    margin: 0;
    padding: 0;
}


/* ============ column setting ============ */

.one-fourth {
    width:208px;
}

.one-half {
    width:448px;
}


.one-third {
    width:288px;
}

.two-third {
    width:608px;
}

.fullwidth {
    width:928px;
}

.one-fourth, .one-half, .one-third, .two-third ,.one-half-slider,.one-half-half{
    margin-left:32px;
    float:left;
}

.first {
    margin-left:0;
}

.last {
    margin-right:0;
}

/* ============= Buttons ==================  */


.buttons{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(PIE.htc);
	display:inline-block;
	vertical-align:top;
	margin-right:20px;
}

.buttons a{
	display:block;	
	text-decoration:none;
}

.buttons a span em {
	text-decoration:none;
	font-size:11px;
	
}

/*===================================*/
/* but-color-big */
/*===================================*/


.but-color-big{
	
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	behavior: url(PIE.htc);
	line-height:0.9;
}

.but-color-big a{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(PIE.htc);
	padding:7px 9px 11px 12px;
}

.but-color-big a strong{
	font-size:17px;
}

.but-color-big span.but-icon{
	height:27px;
	width:15px;
	margin-right:1px;
	display:inline-block;
	position:relative;
}

.but-desc{
	display:inline-block;
}

/* button signup */

.signup a{
	color:#787878;
	text-shadow:0px -1px 0px #c81300;
	background:url(../images/buttons/signup.png) top repeat-x;
	border:1px solid #92392a;
	color:white;
	padding-left: 5px;
}

.signup a:hover{
	background:url(../images/buttons/signup_hov.png) top repeat-x;
	text-shadow:0px -1px 0px #a70700;
	border:1px solid #8d3728;
}

.signup a span.but-icon{
	background:url(../images/buttons/icon_signup.png) top no-repeat;
	margin-right:4px;
	top:2px;
	height:29px;
	width:29px;
}

.secondary a{
	color:#787878;
	text-shadow:0px -1px 0px #9f722a;
	background:url(../images/buttons/secondary.png) top repeat-x;
	border:1px solid #6a5120;
	color:white;
	padding-left: 5px;
}

.secondary a:hover{
	background:url(../images/buttons/secondary_hov.png) top repeat-x;
	text-shadow:0px -1px 0px #7a5819;
	border:1px solid #574118;
}

.secondary a span.but-icon{
	background:url(../images/buttons/icon_second.png) top no-repeat;
	margin-right:4px;
	top:2px;
	height:29px;
	width:29px;
}


/* ========================== Header Styles ========================== */
#header {
	background: url(../images/light.png) no-repeat center;
	overflow:hidden;
}

#header img, #header h1 {
	float: left;
}

#header p {
	color: #454544;
	float:left;
}

#header .logo {
	float:left;
	width:250px;
	height:64px;
	margin-top:20px;
	margin-bottom:25px;
}

.logo p {
	float:left;
	margin:0;
}

#header .phone_number {
    float:right;
    margin-top:30px;
	background:url(../images/french_mouse.png) no-repeat 0 0px;
	padding-left:45px;
	padding-top:4px;
	line-height:48px;
}

.phone_number h4 {
	color:#565656;
}


/* ========================== Inner content Styles ========================== */
#inner {
    width:992px;
    margin:0 auto;
	margin-top:20px;
    margin-bottom:30px;


}

.inset {
-webkit-box-shadow: inset 1px 1px 1px #fefefe;
-moz-box-shadow: inset 1px 1px 1px #fefefe;
box-shadow: inset 1px 1px 1px #fefefe;
}

#inner .inner_top {
    background: url(../images/inner_top_bg.png) no-repeat;
    width:992px;
    height:5px;

}

#inner .inner_mid {
    background: url(../images/inner_mid_bg.png) repeat-y;
    width:992px;
	overflow: hidden;
}

#inner .inner_bottom  {
    background: url(../images/inner_bottom_bg.png) no-repeat;
    width:992px;
    height:39px;
}



/* =========================== Featured area ======================== */

#featured-area {
	margin:0 auto;
	background: #36424e url(../images/patterns/patternbg.png) repeat;
	overflow:hidden;
}

.light {
	margin:0 auto;
	background: url(../images/light.png) no-repeat center;
	overflow:hidden;

}

.featured-content {
	margin-bottom:35px;
	overflow:hidden;
}

.title {
	margin-top:35px;
	margin-bottom:20px;
	overflow:hidden;
}

.title h1 {
	float:left;
}


#featured-area h1, #featured-area h2, #featured-area h3, #featured-area h4, #featured-area h5, #featured-area h6 {
	color:#f7f7f7;	
}

#featured-area .title h1 {
	line-height:95px;
}

#featured-area p, #featured-area ul li {
	color:#f2f2f2;
	text-shadow:none;
}


/*-------------------------- Featured form -------------------------------*/
.featured-form{
	float:left;
	background:#363c44;	
	border:1px solid #272b31;
	width:446px;
}
.form-wrapper{
	float:left;
	background:#363c44;
	border:1px solid #4d5661;
}
ul.form-list{
	float:left;
	padding:20px;
}
ul.form-list li{
	float:left;
	width:404px;	
	margin:0;
	padding:15px 0 15px 0;
	border-top:1px solid #3e4248;
	border-bottom:1px solid #272b31;
}
ul.form-list li.first{
	padding-top:0;
	border-top:none;
}
ul.form-list li.last{
	padding-bottom:0;
	border-bottom:none;
}
h3.form-title{
	float:left;
	background: url(../images/icons/download.png) no-repeat left top;
	height:32px;
	padding:2px 0 5px 42px;
	margin:20px 0px 0px 20px;
}

.featured-form form{
	float:left;
}
input.inputbg{
	border:1px solid #171d22;
	border-top:1px solid #141a1e;
	background: url(../images/form-input.png) repeat-x top left;
	color:#bebebe;
	width:382px;
	height:17px;
	padding:10px;
}
input.inputbg:focus{
	border:1px solid #050507;
	color:#bebebe;
}

/*--------------------------- content ------------------------------*/

.features img {
	margin-top:2px;
}


.cta {
	margin-top:20px;
}


/*-------------------------- list style ---------------------------------*/
ul.features {
	list-style:none;
}

ul.features li {
	color: #797979;
	text-shadow: none;
	line-height:1.5em;
    background:url(../images/checklist.png) no-repeat 0% 2px;
    padding-left:25px;
}


/*----- Testimonial ------*/

.testimonials {
    width:100%;
	height:auto;
}

/* --- testimonials -- */
ul.testimonial li{
	display:block;
	float:left;
	width:100%;
}
ul.testimonial li blockquote{
	position:relative;
	padding:15px 30px;
	margin:0;
	color:#a1a1a1;
	background:#e9e9e9; /* default background for browsers without gradient support */
	

	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#f3f2f2), to(#e9e9e9));
	background:-moz-linear-gradient(top, #f3f2f2, #e9e9e9);
	background:-o-linear-gradient(top, #f3f2f2, #e9e9e9);
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
ul.testimonial li blockquote + p {margin:20px 0 2em 85px; font-weight:bold;}

ul.testimonial li blockquote:after{
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-30px;
	left:50px;
	width:0;
	height:0;
	border-width:0 20px 30px 0px;
	border-style:solid;
	border-color:transparent #e9e9e9;
}

ul.testimonial img {
	margin-top:20px;
	margin-left:90px;
}

ul.testimonial p.author-name {
	margin-top:20px;
	font-weight:bold;
	margin-bottom:0px;
}

ul.testimonial p.author-company {
	color:#909090;
	font-family:Georgia, Arial,sans-serif;
	font-style:italic;
}

/* ----------------- List style ----------------- */

ul.checklist li{
	background:url(../images/checklist.png)no-repeat left 2px;
	padding-left:26px;
	margin-bottom:10px;
	color: #909090;
}

/* ========================== Footer content Styles ========================== */

.footer-widgets h1, .footer-widgets h2, .footer-widgets h3, .footer-widgets h4, .footer-widgets h5, .footer-widgets h6 {
	color:#f7f7f7;
}

.footer-widgets p {
	color:#f2f2f2;
	text-shadow:none;
}



/*------- gallery -------------*/

.gallery {
	float:left;
    margin-bottom:15px;
	position:relative;	
}

ul#gallery {
    list-style:none;
	position:relative;
}



ul#gallery li {
    float:left;
    width:137px;
    margin-left:20px;
    margin-top:10px;
}


ul#gallery li img {
    background:#f1f1f1;
    border:1px solid #dfdddd;
    padding:5px;
}

ul#gallery li.first {
    margin-left:0;
}

/* toggles */

.toggle {
	margin: -20px 0 0 0;
}

/* toggle header */

/* currently active header */
.toggle span.active {
	cursor:pointer;
}

.toggle h6.title span.title_content {
	background:url(../images/icons/plus.png) no-repeat center left;
	display: block;
	overflow: hidden;
	position: relative;
	padding:0px 15px 0px 35px;
	height:auto;
	font-size:14px;
}

/* toggle pane */
.toggle .pane {
	border-top: none;
	overflow: hidden;
	clear: both;
	border:1px solid #e6e6e6;
	margin: -5px 0 0 0 ;
}
.toggle .pane-page {
	padding: 15px;
}
/* toggle_style1 */

.tstyle1 h6.title {
	cursor:pointer;
	text-decoration: none;
	color: #5b5b5d;
	display: block;
	outline: none;
	padding:0;
    background:#f1f1f1;
	text-shadow:0px 1px 1px #fff;
}

.tstyle1 h6.title:hover, .toggle_style1 span.active:hover {
    background:#e6e6e6;
	text-shadow:0px 1px 1px #fff;
	color: #5b5b5d;	
}
.tstyle1 h6.active span.title_content {
	background: #e6e6e6 url(../images/icons/minus.png) no-repeat center left;
	color:#7b7b7b;	
}
.contact {
    margin-top:20px;
    width:295px;
}

.endfooter {
    float:left;
}

.endfooter p {
	float:left;
    padding:0;
    margin-top:5px;
    line-height:1.5em;
}

/* ul li list */
ul.payments { list-style: none; }
ul.payments li {
    float: left;
    margin-right: 10px;
}

ul.links { 
	list-style: none;
	float:right;
}
ul.links li {
    float: left;
    margin-right: 10px;
	font-size:12px;
}

p.copyright {
	font-size:12px;
}

/*--- Social ---- */

.social {
    float:right;
}

/*------------------------ social networks ---------------*/
ul.fsocial_network {
	display:inline;
	float:left;
	height:32px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-top:10px;
}
.fsocial_network li{
	float:left;
	margin-right:10px;
}
li.image_one a {
	display:block; 
	width:32px; 
	height:32px; 
	position:relative;
}	
li.image_one a .fb-rollover{
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	width:32px; 
	height:32px; 
	background:url(../images/icons/social/facebook.png) no-repeat top left;	
}
li.image_one a .twitter-rollover{
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	width:32px; 
	height:32px;  
	background:url(../images/icons/social/twitter.png) no-repeat top left;	
}
li.image_one a .linkedin-rollover{
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	width:32px; 
	height:32px; 
	background:url(../images/icons/social/linkedin.png) no-repeat top left;	
}
li.image_one a .rss-rollover{
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	width:32px; 
	height:32px; 
	background:url(../images/icons/social/rss.png) no-repeat top left;	
}

li.image_one a .gplus-rollover{
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	width:32px; 
	height:32px; 
	background:url(../images/icons/social/gplus.png) no-repeat top left;	
}

li.image_one a .mail-rollover{
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	width:32px; 
	height:32px; 
	background:url(../images/icons/social/mail.png) no-repeat top left;	
}

/*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom:10px;
	right:35px;
}
#back-top a {
	width: 40px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 7px;
	background:url(../images/icons/to-top.png) no-repeat center center;

	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	opacity:0.7;
}
#back-top a:hover span {
	opacity:1;
}



/*----------------------- misc ----------------------*/

em {
	text-decoration:none;
	font-style:none;
}

span.highlight {
	text-decoration:underline;
	color:#febd4b;
}

.clear {
	clear: both;
	overflow: hidden;
}

.spacer5 {
	margin-top:5px;
}


.spacer10 {
	margin-top:10px;
}


.spacer15 {
	margin-top:15px;
}


.spacer20 {
	margin-top:20px;
}

.spacer30 {
	margin-top:30px;
}

.midcenter {
	margin:0 auto;
	width:100%;
	float:none;
	display:block;	
	clear:both;
}

.mleft32 {
	margin-left:32px;
}



/* =STYLESWITCHER
-----------------------------------------------------------------------------------------------*/		
			
.panel{ background:#444444; border:1px solid #303030; display:none; height:auto; left:0; padding:25px 15px 20px 10px; 
	top:70px; position:fixed; _position:absolute;z-index:999999;  
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;	
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;	
	
	}
	
.panel h5 {
	text-align:center;
	font-size:12px;
	color:#fbfbfb;
	padding-bottom:10px;
	border-bottom:1px solid #303030; 
}
h5.bot{
	padding-top:15px;
}

a.openpanel{ 
	_background-image:none; 
	background:#444444 url(../images/option.png) no-repeat center center; 
	padding:5px;
	border:1px solid #303030; 
	color:#fff;
	display:block; left:0; width:31px; height:31px; top:85px; text-indent:-9999px;
	position:fixed; _position:absolute; 
	z-index:999999;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;	
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
			
	a.openpanel:hover{ 

	}
	
	a.active.openpanel{ 
	border-left:none;
	_position:absolute; 
	left:99px;
 }
#stylechanger, #stylechangerbot { 
	float:left;
	list-style:none; 
	list-style-type:none; 
	list-style-position:outside; 
	margin-bottom:0;
	margin-right:5px;
}
	
#stylechanger li a, #stylechanger-right  li a, #stylechangerbot li a, #stylechangerbot-right li a { 
	display:block; 
	margin-bottom:5px; 
	width:32px; 
	height:32px; 
	border:1px solid #d5d5d5;
}	

#stylechanger-right, #stylechangerbot-right {
	float:right;
	list-style:none; 
	list-style-type:none; 
	list-style-position:outside; 

}

ul#stylechangerbot li a, ul#stylechangerbot-right li a {
	color:#fff;
	text-align:center;
	line-height:32px;
}
	
#bg1 { background: url(../images/patterns/patternbg-1.jpg) }
#bg2 { background: url(../images/patterns/patternbg-2.jpg) }
#bg3 { background: url(../images/patterns/patternbg-3.jpg) }
#bg4 { background: url(../images/patterns/patternbg-4.jpg)}
#bg5 { background: url(../images/patterns/patternbg-5.jpg)}
#bg6 { background: url(../images/patterns/patternbg-6.jpg) }

