#{if play.Play.configuration.get("default.theme")=="starlight"}
	#{extends 'casino/Secure/layout_birdie.html' /}
#{/if}
#{else}
	#{extends 'casino/Secure/layout_beige.html' /}
#{/else}

<h1>&{'registration.lost_password.title'}</h1>

#{form @lostPasswordFinish()}

    #{if flash.error}
        <p class="error">
            &{flash.error}
        </p>
    #{/if}
    #{if flash.success}
        <p class="success"> &{flash.success}
        </p>
    #{/if}
    <fieldset>
		<section><label for="email">&{'registration.email'}</label>
			<div><input type="text" id="email" name="email" autofocus value="${flash.email}"></div>
			#{ifError 'email'}<span class="error">#{error 'email' /}</span>#{/ifError}
		</section>
		<section>
			<div>
				<button class="submit">&{'registration.lost_password.recover'}</button>
			</div>
		</section>
		<section>
			<div>
				<a class="btn small fr" href="@{Application.index()}">&{'back'}</a>
			</div>
		</section>
	</fieldset>
#{/form}