
<script type="text/javascript">
	var _gaq = _gaq || [];
	#{if play.Play.id == "war"}
	_gaq.push(['_setAccount', 'UA-30130637-1']); // war
	#{/if}
	#{elseif play.Play.id == "staging"}
	_gaq.push(['_setAccount', 'UA-32201942-1']); // staging
	#{/elseif}
	#{else}
*{ 		_gaq.push(['_setAccount', 'UA-32201942-1']); }*// nothing
	#{/else}
	_gaq.push(['_trackPageview']);
	
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>
